@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --petz-blue: #0056b3;
    --petz-yellow: #fcd34d;
  }
}

body {
  background-color: #fafafa;
  color: #0f172a;
}

.dark body {
  background-color: #0f172a;
  color: #f8fafc;
}